<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <form action="/api/addUser" method="post">
        <h2>Enter your E-Mail:</h2>
        <br><br>
        <label for="email">Enter your Email ID: </label>
        <input type="email" name="email" id="email">
        <br>
        <br>
        <button type="submit">SUBMIT</button>
    </form>
</body>
</html>